<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sasta VS code</title>
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
  <link rel="stylesheet" href="../stylesheets/style.css">
</head>

<body>
  <div id="main">
    <div id="homepage">
      <div id="left">
        <div id="heading">
          <h3>VS CODE</h3>
          <div id="icons">
            <i id="createfile" class="ri-file-add-line"></i>
            <i id="createfolder"class="ri-folder-add-line"></i>
            <a href="./"><i class="ri-restart-line"></i></a>
            <i class="ri-folders-line"></i>
          </div>
        </div>
        <div class="form fileform">
          <form action="/filecreate">
            <input type="text" name="filename" placeholder="filename">
          </form>
        </div>
        <div class="form folderform">
          <form action="/foldercreate">
            <input type="text" name="foldername" placeholder="foldername">
          </form>
        </div>
        <% files.forEach(function (elem){ %>
        <div id="files">         
            <h4>
              <% if(elem.isDirectory()){ %>
                <i class="ri-folder-line"></i>
              <% } else{ %>
                <i class="ri-file-2-line"></i>
              <% } %>
              <%= elem.name %>
            </h4>
        </div>
        <% }); %>

      </div>
      <div id="right"></div>
    </div>
  </div>

  <script src="../javascripts/script.js"></script>
</body>

</html>